# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd

# Poetry
.venv/

# VSCode
.vscode/

# Pytest
.cache/
.pytest_cache/

# Coverage
htmlcov/
.coverage*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

